<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css">
    <title>Cadê Buffet</title>
  </head>
  <body>
    <div id="app">
      <div v-if="modal" id="modal-backdrop">
        <div id="modal" class="rounded shadow bg-light col-3">
          <div class="container-fluid bg-dark text-light py-2 rounded text-center"><h4>Checagem de disponibilidade</h4></div>
          <div class="p-4 text-center">
            <h4>{{checkSituation}}</h4>
            <p class="py-2">{{checkFeedback}}</p>
            <button v-on:click="closeModal" class="btn btn-dark col-4">OK</button>
          </div>
        </div>
      </div>
      
      <div class="container-fuid">
        <nav class="container-fluid bg-dark p-2">
          <div class="container text-center w-25">
            <input v-if="screen === 'buffets'" v-model="searchText" type="text" class="col-2 form-control" placeholder="Pesquise por Buffets aqui">
            <h2 v-if="screen === 'buffet-details'" class="text-light">Cadê Buffet</h2>
          </div>
        </nav>
        
        <p v-if="alert" class="text-danger text-center fs-4 my-3">{{alert}}</p>

        <div class="text-center mt-3">
          <h2 v-if="screen === 'buffets'">Bem vindo ao Cadê Buffet!</h2>
        </div>
        
        <div v-if="screen === 'buffets'" class="container d-flex justify-content-center">
          <div class="col-3 shadow rounded p-4 m-3 text-center box" v-for="buffet, index in listResult">
            <h4>{{buffet.buffet_name}}</h4>
            <p>{{buffet.city}}, {{buffet.state_code}}</p>
            <hr>
            <button v-on:click="getCurrentBuffet(buffet.id)" class="btn btn-dark btn-index">Ver detalhes</button>
          </div>
        </div>

        <div v-if="screen === 'buffet-details'" class="container mt-5 d-flex justify-content-center">
          <div class="my-3">
            <button v-on:click="backToBuffets()" class="btn btn-dark">Voltar</button>
          </div>
          <div class="col-10">
            
            <div class="shadow rounded p-5 m-3">
              <h2 class="bg-dark text-light text-center rounded py-2">{{current_buffet.buffet_name}}</h2>
              <hr>
              <p><strong>Descrição: </strong>{{current_buffet.description}}</p>
              <p><strong>Avaliação média: </strong>{{current_buffet.average_rating}}</p>
              <p><strong>Email: </strong>{{current_buffet.email}}</p>
              <p><strong>Tel: </strong>{{current_buffet.phone_number}}</p>
              <p><strong>Endereço: </strong>{{current_buffet.adress}}</p>
              <p><strong>CEP: </strong>{{current_buffet.zip_code}}</p>
              <p><strong>Bairro: </strong>{{current_buffet.neighborhood}}</p>
              <p><strong>Cidade: </strong>{{current_buffet.city}}</p>
              <p><strong>Estado: </strong>{{current_buffet.state_code}}</p>
              <strong>Métodos de pagamento aceitos:</strong>
              <ul>
                <li v-for="payment_method in current_buffet.payment_methods">
                  {{payment_method.method}}
                </li>
              </ul>
            </div>

            <div class="container row shadow rounded p-5 m-3">
              <h3 class="text-center">Eventos disponíveis</h3>
              <hr>
              <div v-for="event, index in current_buffet.events" class="col-5 rounded shadow p-4 mb-3 mx-4">
                <h4>{{event.name}}</h4>
                <hr>
                <h5>Descrição do evento</h5>
                <div class="overflow-y-scroll overflow-hidden" style="height: 300px">
                  <p>{{event.description}}</p>
                </div>
                <hr>
                <p><strong>Duração padrão do evento:</strong> {{event.standard_duration}} min</p>
                <p><strong>Máximo de convidados:</strong> {{event.max_quorum}}</p>
                <p><strong>Atende no endereço do cliente:</strong>{{event.flexible_location ? "Sim" : "Não"}}</p>
                <hr>
                <h5>Checar disponibilidade</h5>
                <div>
                  <p class="text-danger">{{checkErrors[index].error}}</p>
                  <label for="date" class="form-label">Data</label>
                  <input v-model="inputs[index].bookingDate" type="date" id="date" class="form-control">
                  <label for="guestNumber" class="form-label">Número de convidados</label>
                  <input v-model="inputs[index].guestNumber" type="number" id="guestNumber" class="form-control">
                  <button v-on:click="checkAvailability(event.id, index)" class="btn btn-dark mt-2 col-5">Checar</button>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
