#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  z-index: 2000;
}

.box {
  transition: transform 0.3s ease-out, background-color 0.3s ease;
}

.box:hover {
  transform: scale(1.2);
  background-color: rgb(0, 0, 0);
  color: white;
}

.btn-index {
  transition: transform 0.3s ease-in, background-color 0.3s ease;
}

.btn-index:hover {
  transform: scale(1.2);
  background-color: white;
  color: black;
}

.star-rating {
  display: flex;
  direction: row;
  font-size: 2rem;
  position: relative;
  width: 5rem;
  height: 1rem;
}
